*{margin: 0;}
html{font-size: 10px;background-color: #ffffff;}
body{font-size: 1rem;}
a{text-decoration: none;}

header{position: fixed;width: 100%;height: 6rem;background-color: none;z-index: 9999;opacity: none;}
header > nav{width: 102.4rem;margin: auto;display: flex;justify-content: space-between;align-items: center;height: 6rem;}

header > nav > .logo{padding-top: 1rem;}
header > nav > .menu {display: inline-block;}
header > nav > .menu > ul {list-style: none;}
header > nav > .menu > ul > li {float: left;margin: 0rem 1.7rem;}
header > nav > .menu > ul > li > a {color: #ffd92b;font-family: 'Noto Sans KR', sans-serif;font-size: 1.6rem;font-weight: 500;letter-spacing: -0.03rem;cursor: pointer;}
header > nav > .menu > ul > li > a:hover{color: #ffffff;}

section > .keyvisual {background-image: url('../img/02_keyvisual_bg.png');height: 80rem;}
section > .keyvisual > .keyvisual_wrap {margin: auto;width: 192.0rem;height: 80rem;}

section > .profile {background-color: #272727;background-image: url('../img/04_profile.png');height: 105.0rem;}
section > .profile > .profile_wrap {margin: auto;width: 102.4rem;}
section > .profile > .profile_wrap > .profile_01 {padding-top: 5.8rem;padding-left: 7.5rem;}
section > .profile > .profile_wrap > .profile_02 {padding-left: 7.5rem;}
section > .profile > .profile_wrap > .profile_03 {padding-left: 7.5rem;}

#pr{height: 200px;width: 100%;background-size: cover;background-attachment: fixed;overflow: hidden;}
.p1{background-image: url('../img/pf_tit_bg.png');}
.posi{margin-top: 3.3rem;text-align: center;}

/*--portfolio 1--*/
section > .pf_1{background-image: url('../img/web_bg.png');background-color: #EBEBEB;height: 389.8rem;}
section > .pf_1 > .pf_wrap{margin: auto;width: 140.0rem;text-align: center;}
section > .pf_1 > .pf_wrap > .pf_img_1{padding-top: 2.4rem;}
section > .pf_1 > .pf_wrap > .pf_txt_1{margin-top: 8.6rem;}
section > .pf_1 > .pf_wrap > .pf_web_img{margin-top: 6.3rem;text-align: center;}

/*--portfolio 2--*/
section > .pf_2{background-color: #272727;background-image: url('../img/book_bg.png');height: 240.2rem;padding-top: 3rem;}
section > .pf_2 > .pf_wrap{margin: auto;width: 140.0rem;text-align: center;}
section > .pf_2 > .pf_wrap > .pf_img_2{margin-top: 2.4rem;}
section > .pf_2 > .pf_wrap > .pf_book_img{margin-top: 12.6rem;}
section > .pf_2 > .pf_wrap > .pf_book_img_2{margin-top: 2.4rem;}
section > .pf_2 > .pf_wrap > .pf_txt_2{margin-top: 5.5rem;}

/*--portfolio 3--*/
section > .pf_3{background-image: url('../img/news_bg.png');background-color: #272727;height: 210.3rem;}
section > .pf_3 > .pf_wrap{margin: auto;width: 140.0rem;text-align: center;}
section > .pf_3 > .pf_wrap > .pf_img_3{padding-top: 4.6rem;}
section > .pf_3 > .pf_wrap > .pf_txt_3{margin-top: 3.7rem;}
section > .pf_3 > .pf_wrap > .pf_img_4{margin-top: 13.2rem;}
section > .pf_3 > .pf_wrap > .pf_txt_4{margin-top: 3.7rem;}

/*--portfolio 4--*/
section > .pf_4{background-image: url('../img/leaflet_bg.png');background-color: #EFEFEF;height: 651.9rem;}
section > .pf_4 > .pf_wrap{margin: auto;width: 140.0rem;text-align: center;}
section > .pf_4 > .pf_wrap > .pf_img_5{margin-top: 2.4rem;}
section > .pf_4 > .pf_wrap > .pf_leaflet_1{margin-top: 2.4rem;}
section > .pf_4 > .pf_wrap > .pf_leaflet_2{margin-top: 2.4rem;}
section > .pf_4 > .pf_wrap > .pf_leaflet_3{margin-top: 2.4rem;}
section > .pf_4 > .pf_wrap > .pf_leaflet_4{margin-top: 2.4rem;}
section > .pf_4 > .pf_wrap > .pf_leaflet_5{margin-top: 2.4rem;}
section > .pf_4 > .pf_wrap > .pf_leaflet_6{margin-top: 2.4rem;}
section > .pf_4 > .pf_wrap > .pf_txt_5{margin-top: 3.7rem;}
section > .pf_4 > .pf_wrap > .pf_txt_6{margin-top: 3.7rem;}

/*--portfolio 5--*/
section > .pf_5{background-color: #ffffff;height: 458.0rem;}
section > .pf_5 > .pf_wrap{margin: auto;width: 140.0rem;text-align: center;}
section > .pf_5 > .pf_wrap > .pf_img_6{margin-top: 2.4rem;}
section > .pf_5 > .pf_wrap > .pf_calendar_1{margin-top: 18.6rem;}
section > .pf_5 > .pf_wrap > .pf_calendar_2{margin-top: 2.4rem;}
section > .pf_5 > .pf_wrap > .pf_calendar_3{margin-top: 2.4rem;}
section > .pf_5 > .pf_wrap > .pf_calendar_4{margin-top: 2.4rem;}
section > .pf_5 > .pf_wrap > .pf_txt_7{margin-top: 3.7rem;}

/*--portfolio 6--*/
section > .pf_6{background-color: #C7C0A7;height: 110.0rem;}
section > .pf_6 > .pf_wrap{margin: auto;width: 140.0rem;text-align: center;}
section > .pf_6 > .pf_wrap > .pf_tit_6{padding-top: 4.5rem;}
section > .pf_6 > .pf_wrap > .pf_img_7{margin-top: 2.4rem;}
section > .pf_6 > .pf_wrap > .pf_txt_7{margin-top: 3.7rem;}

/*--portfolio 7--*/
section > .pf_7{background-color: #7B987B;height: 110.0rem;}
section > .pf_7 > .pf_wrap{margin: auto;width: 140.0rem;text-align: center;}
section > .pf_7 > .pf_wrap > .pf_tit_7{padding-top: 4.5rem;}
section > .pf_7 > .pf_wrap > .pf_img_8{margin-top: 2.4rem;}
section > .pf_7 > .pf_wrap > .pf_txt_8{margin-top: 3.7rem;}

footer{background-color: #464646;height: 8.0rem;}
footer > .footer_wrap{margin: auto;width: 102.4rem;}
footer > .footer_wrap > .footer_logo{float: left;padding-top: 2.5rem;}
footer > .footer_wrap > .footer_txt{float: right;padding-top: 2.5rem;text-align: right;font-family: 'Noto Sans KR', sans-serif;font-size: 1.8rem;font-weight: 300;letter-spacing: -0.03rem;color: #ffffff;}
